<!--
  * @Description: footer.html.html
  * @Author: 孤烟逐云zjy
  * @Date: 2021/4/20 10:41
  * @SoftWare: PyCharm
  * @CSDN: https://blog.csdn.net/zjy123078_zjy
  * @博客园: https://www.cnblogs.com/guyan-2020/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="footer">
    <div class="top-group">
        <div class="inner-group">
            <div class="detail-group">
                <div class="line1">
                    <div class="links-group">
                        <ul class="links">
                            <li><a href="#">关于集团</a></li>
                            <li><a href="#">试衣课堂</a></li>
                            <li><a href="#">寻求帮助</a></li>
                            <li><a href="#">买家大礼包</a></li>
                        </ul>
                        <div class="about-us">联系我们：</div>
                    </div>

                </div>
                <div class="line2">
                    <div class="address">地址：浙江省杭州市江干区6543号024室</div>
                    <div class="concat">联系我们：410-778-4850（工作时间：8:00-23:00）</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020-2021 蒂芙集团潮流服饰有限公司版权所有 浙B2-20210191-18 备案管理系统网站
    </div>
</footer>
</body>
</html>