{% extends 'base/front_base.html' %}
{% load clothes_filters %}

{% block title %}
    搜索
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/search.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_88ixgp6kyao.css">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="search-group">
                    <form action="" method="get">
                        <!-- q就代表查询关键字的意思，在点击搜索的时候就将关键字q对应的输入值发送给action，action为空就代表是当前的url -->
                        <input type="text" name="q" class="search-input" placeholder="请输入关键字" value="{{ query }}">
                        <input type="submit" class="search-btn" value="搜索">
                    </form>
                </div>
                <div class="recommend-group">
                    <p class="recommend-title">热门推荐</p>
                    <ul class="recommend-list">
                    <!-- haystack查找所返回的数据都绑定在page.object_list上，可以遍历-->
                        {% for result in page.object_list %}
                            <!-- 在html中定义变量可以使用with-->
                            {% with result.object as clothes %}

                            {% endwith %}
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}