@import "init";
@import "variable";

.footer {
  margin-top: 80px;
  width: 100%;
  margin-bottom: 0;

  .top-group {
    //background: pink;
    background: url("../../dist/images/background.min.gif");
    width: 100%;
    height: 64px;

    .inner-group {
      margin: 0 auto;
      width: $mainHeaderWidth;
      height: 64px;
      overflow: hidden;

      .detail-group {
        padding: 10px;
        float: left;

        .line1 {
          width: 100%;
          height: 100%;
          .links-group {
            overflow: hidden;
            color: deeppink;


            .links {
              float: left;
              overflow: hidden;

              li {
                float: left;
                list-style: none;
                margin-right: 10px;
                border-right: 2px solid #eeeeee;
                padding-right: 10px;

                &:last-of-type {
                  border-right: none;
                }

                a {
                  color: deeppink;
                  text-decoration: none;
                }
              }
            }

            .about-us {
              float: left;
              margin-left: 60px;

            }
          }
        }

        .line2 {
          margin-top: 6px;
          color: deeppink;

          .address {
            float: left;

          }

          .concat {
            margin-left: 60px;
            float: left;
          }
        }
      }
    }
  }

  .bottom-group {
    width: 100%;
    height: 45px;
    margin-bottom: 0;
    //background: url("../../dist/images/footer_background01.min.gif");
    background: url("../../dist/images/background.min.gif");
    line-height: 45px;
    text-align: center;
    color: deeppink;
  }
}