$headerHeight: 64px;
$pageWidth: 1170px;
$mainHeaderWidth: 1300px;
$logoBoxWidth: 300px;
$mainWrapperWidth:1300px;
$sidebarWidth: $mainWrapperWidth - 800 - 10px;
$headerSecHeight: 400px;
$carouselImgWidth: 1300px;
$carouselImgHeight: 400px;
$carouselImgTotalWidth: $carouselImgWidth * 4;

$payCorlor: #f76363;
$freeCorlor: #7ed321;

$clothImgWidth: 438px;
$clothImgHeight: 438px;
$clothInfoWidth: $mainWrapperWidth - $clothImgWidth - 10px;

$fittingRoomImgWidth: 400 - 240 - 30 px;
$fittingRoomImgHeight: 280px;

$authWrapperHeight: 500px;
$authWrapperWidth: 400*2px;

$sidebarWidth: 260px;
$mainContentWrapperWidth: 1000px;

$modelWidth: 240px;
$modelHeight: 350px;
$modelTotalWidth: $modelWidth*58;
