<!--
  * @Description: example.html.html
  * @Author: 孤烟逐云zjy
  * @Date: 2021/4/12 14:47
  * @SoftWare: PyCharm
  * @CSDN: https://blog.csdn.net/zjy123078_zjy
  * @博客园: https://www.cnblogs.com/guyan-2020/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hhhh</title>
    <link rel="stylesheet" href="../../dist/css/example.min.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
    <script src="../../dist/js/example.min.js"></script>
</head>
<body>
<!--<div class="wrapper">
    <h1 contenteditable data-heading="模特间">模特间</h1>
</div>!-->
<!--<div class="container">
    <div class="box">
        <div class="content">
            <div class="front">模特间</div>
            <div class="back">模特间</div>
            <div class="left">模特间</div>
            <div class="right">模特间</div>
            <div class="top">模特间</div>
            <div class="bottom">模特间</div>
        </div>
    </div>
</div>
!-->

<!---按钮!-->

<div class="wall-of-buttons">
	  <a class="fitting-btn">次要</a>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';color:#ffffff">
</div>
</body>
</html>