{% extends  "base/front_base.html" %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_88ixgp6kyao.css">
    <script src="{% static 'js/index.min.js' %}"></script>
    <script src="{% static 'js/closet_room.min.js' %}"></script>
    <script src="{% static 'js/cloth_detail.min.js' %}"></script>
{% endblock %}

{% block main %}
    <header class="header">
    <div class="main-header">
        <div class="log-box">
            <i class="iconfont icon-mote-"></i>
            <a href="#" style="margin-right: 20px">秒试<strong>衣吧</strong></a>
        </div>
        <ul class="nav">
            {% for clothcategory in clothcategorys %}
                <li><a href="{% url 'clothes:new_products' category_id=clothcategory.pk %}" style="color: deeppink">{{ clothcategory.name }}</a>
            </li>
            {% endfor %}
            <li><a href="{% url 'clothes:search' %}" style="color: blueviolet">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="iconfont icon-icon"></i>
        <!-- setting.py中OPTIONS中auth的上下文处理器，会为django模板添加变量user -->
        <!-- 判断用户是否登录成功，可以通过获取user的属性is_authenticated,为True即为登录成功，为False即为没有登录 -->
            {% if user.is_authenticated %}
                <!-- 如果用户没有登录，user就是一个匿名的用户 -->
                <a href="#" class="authenticated-box">{{ user.username }}</a>
                <div class="user-more-box">
                    <i class="triangle"></i>
                    {% if user.is_staff %}
                        <a href="{% url 'cms:index' %}">管理系统</a>
                    {% endif %}
                    <a href="{% url 'msybauth:logout' %}">退出登录</a>
                </div>
            {% else %}
                <a href="#" class="Signin-btn">登录</a> /
                <a href="#" class="Signup-btn">注册</a>
            {% endif %}
        </div>
    </div>
</header>
    <div class="main">
        <div class="main-wrapper">
            <div class="carousel-map" id="banner-group">
                <ul class="carousel-img" id="banner-ul">
                    <li><a href="#"><img src="{% static 'images/news.min.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/news01.min.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/news02.min.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/news03.min.jpg' %}" alt=""></a></li>
                </ul>
                <span class="arrow left-arrow"><</span>
                <span class="arrow right-arrow">></span>
                <div class="page-control-group">
                    <ul class="page-control">
                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="#">最新潮流</a></li>
                    <li><a href="#">热卖</a></li>
                    <li><a href="#">干货分享</a></li>
                    <li><a href="#">买家说</a></li>
                    <li><a href="#">其它</a></li>
                </ul>
            </div>
            <div class="cloth-group">
                <ul class="list">
                    {% for cloth in clothes %}
                        <li data-id="{{ cloth.pk }}"><a href="#">
                            <div class="thumbnail-group"><img data-name="{{ cloth.thumbnail }}"
                                                              src="{{ cloth.thumbnail }}" alt="" class="thumbnail">
                            </div>
                            <div class="cloth-info">
                                <span data-name="{{ cloth.title }}" class="cloth-title">{{ cloth.title }}</span>
                                <div class="shop-group">
                                    <i class="iconfont icon-shop" style="color: coral"></i>
                                    <span class="cloth-shop">{{ cloth.shop }}</span>
                                </div>
                                <div class="price-group">
                                    <span class="cloth-price">￥{{ cloth.price }}</span>
                                </div>
                                <div class="cloth-more" data-id="{{ cloth.pk }}">
                                    <button data-name="cloth-detail" class="cloth-detail"
                                            onclick="javascript:window.location.href='{% url 'clothes:cloth_detail' cloth_id=cloth.pk%}'">
                                        商品详情
                                    </button>
                                    <button id="cloth-fitting" class="cloth-fitting add-closet-btn"
                                            onclick="javascript:window.location.href='{% url 'clothes:closet_room' %}'">
                                        加入试衣间
                                    </button>
                                </div>
                            </div>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}