{% extends  "base/front_base.html" %}
{% block title %}
    首页
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_88ixgp6kyao.css">
    <script src="{% static 'js/index.min.js' %}"></script>
    <script src="{% static 'js/closet_room.min.js' %}"></script>
    <script src="{% static 'js/cloth_detail.min.js' %}"></script>
    <script src="{% static 'js/rotate_model.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-wrapper">
            <div class="carousel-map" id="banner-group">
                <ul class="carousel-img" id="banner-ul">
                    <li><a href="#"><img src="{% static 'images/news.min.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/news01.min.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/news02.min.jpg' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/news03.min.jpg' %}" alt=""></a></li>
                </ul>
                <span class="arrow left-arrow"><</span>
                <span class="arrow right-arrow">></span>
                <div class="page-control-group">
                    <ul class="page-control">
                    </ul>
                </div>
            </div>
            <div class="list-outer-group">
                <ul class="list-tab">
                    <li class="active"><a href="#">最新潮流</a></li>
                    <li><a href="#">热卖</a></li>
                    <li><a href="#">干货分享</a></li>
                    <li><a href="#">买家说</a></li>
                    <li><a href="#">其它</a></li>
                </ul>
            </div>
            <div class="cloth-group">
                <ul class="list">
                    {% for cloth in clothes %}
                        <li data-id="{{ cloth.pk }}"><a href="#">
                            <div class="thumbnail-group"><img data-name="{{ cloth.thumbnail }}"
                                                              src="{{ cloth.thumbnail }}" alt="" class="thumbnail">
                            </div>
                            <div class="cloth-info">
                                <span data-name="{{ cloth.title }}" class="cloth-title">{{ cloth.title }}</span>
                                <div class="shop-group">
                                    <i class="iconfont icon-shop" style="color: coral"></i>
                                    <span class="cloth-shop">{{ cloth.shop }}</span>
                                </div>
                                <div class="price-group">
                                    <span class="cloth-price">￥{{ cloth.price }}</span>
                                </div>
                                <div class="cloth-more" data-id="{{ cloth.pk }}">
                                    <button data-name="cloth-detail" class="cloth-detail"
                                            onclick="javascript:window.location.href='{% url 'clothes:cloth_detail' cloth_id=cloth.pk %}'">
                                        商品详情
                                    </button>
                                    <button id="cloth-fitting" class="cloth-fitting add-closet-btn"
                                            onclick="javascript:window.location.href='{% url 'clothes:closet_room' %}'">
                                        加入试衣间
                                    </button>
                                </div>
                            </div>
                        </a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}