<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | 秒试衣吧</title>
    <link rel="shortcut icon" href="{% static "images/bitbug_favicon.min.ico" %}"/>
    <link rel="stylesheet" href="{% static 'css/auth.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_lk15l4uvx3.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_2xqetz1l455.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_pqmelmp3qd.css">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/msybajax.min.js' %}"></script>
    <script src="{% static 'js/message.min.js' %}"></script>
    <script src="{% static 'js/msybalert.min.js' %}"></script>
    <script src="{% static 'js/front_base.min.js' %}"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
<header class="header">
    <div class="main-header">
        <div class="log-box">
            <i class="iconfont icon-mote-"></i>
            <a href="#" style="margin-right: 20px">秒试<strong>衣吧</strong></a>
        </div>
        <ul class="nav">
            {% for clothcategory in clothcategorys %}
                <li data-id="{{ clothcategory.pk }}"><a href="{% url 'clothes:new_products' category_id=clothcategory.pk %}" style="color: deeppink">{{ clothcategory.name }}</a>
            </li>
            {% endfor %}
            <li><a href="/search/" style="color: blueviolet">搜索</a></li>
            <li><a href="{% url 'clothes:fitting_room' %}" style="color: blue">模型试衣间</a></li>
        </ul>
        <div class="auth-box">
            <i class="iconfont icon-icon"></i>
        <!-- setting.py中OPTIONS中auth的上下文处理器，会为django模板添加变量user -->
        <!-- 判断用户是否登录成功，可以通过获取user的属性is_authenticated,为True即为登录成功，为False即为没有登录 -->
            {% if user.is_authenticated %}
                <!-- 如果用户没有登录，user就是一个匿名的用户 -->
                <a href="#" class="authenticated-box">{{ user.username }}</a>
                <div class="user-more-box">
                    <i class="triangle"></i>
                    {% if user.is_staff %}
                        <a href="{% url 'cms:index' %}">管理系统</a>
                    {% endif %}
                    <a href="{% url 'clothes:return_url' %}">个人中心</a>
                    <a href="{% url 'msybauth:logout' %}">退出登录</a>
                </div>
            {% else %}
                <a href="#" class="Signin-btn">登录</a> /
                <a href="#" class="Signup-btn">注册</a>
            {% endif %}
        </div>
    </div>
</header>
{% block main %}
{% endblock %}
<footer class="footer">
    <div class="top-group">
        <div class="inner-group">
            <div class="detail-group">
                <div class="line1">
                    <div class="links-group">
                        <ul class="links">
                            <li><a href="#">关于集团</a></li>
                            <li><a href="#">试衣课堂</a></li>
                            <li><a href="#">寻求帮助</a></li>
                            <li><a href="#">买家大礼包</a></li>
                        </ul>
                        <div class="about-us">关于我们：</div>
                    </div>

                </div>
                <div class="line2">
                    <div class="address">地址：浙江省杭州市江干区6543号024室</div>
                    <div class="concat">联系我们：410-778-4850（工作时间：8:00-23:00）</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        ©2020-2021 蒂芙集团潮流服饰有限公司版权所有 浙B2-20210191-18 备案管理系统网站
    </div>
</footer>
<div class="main-wrapper">
    <div class="mask-wrapper">
    <div class="auth-wrapper">
        <div class="bounce-title">
            <span class="letter">秒</span>
            <span class="letter">试</span>
            <span class="letter">衣</span>
            <span class="letter">吧</span>
        </div>
        <div class="close-group">
            <i class="close-btn icon-close iconfont"></i>
        </div>
        <div class="auth-inner-group">
            <div class="scroll-wrapper">
                <div class="signin-group auth-group">
                    <div class="top-group">
                        <span class="auth-title">请登录</span>
                        <a href="javascript: void(0)" class="switch01-btn switch">请注册>></a>
                    </div>
                    <div class="form-group">
                        <div class="input-group"><input type="text" class="form-control" name="telephone"
                                                        placeholder="请输入手机号"></div>
                        <div class="input-group"><input type="password" class="form-control" name="password"
                                                        placeholder="请输入密码"></div>
                        <div class="input-group">
                            <label class="remember-label"><input type="checkbox" name="remember"
                                                                 value="1">记住我</label>
                        </div>
                        <div class="input-group"><input type="submit" class="submit-btn" value="立即登录"></div>

                    </div>
                </div>
                <div class="signup-group auth-group">
                    <div class="top-group">
                        <span class="auth-title">请注册</span>
                        <a href="javascript: void(0)" class="switch02-btn switch">请登录>></a>
                    </div>
                    <div class="form-group">
                        <div class="input-group"><input type="text" class="form-control" name="telephone"
                                                        placeholder="请输入手机号"></div>
                        <div class="input-group"><input type="text" class="form-control" name="username"
                                                        placeholder="请输入用户名"></div>
                        <div class="input-group"><input type="password" class="form-control" name="password1"
                                                        placeholder="请输入密码"></div>
                        <div class="input-group"><input type="password" class="form-control" name="password2"
                                                        placeholder="确认密码"></div>
                        <div class="input-group">
                            <div class="short-input-group">
                                <input type="text" class="form-control" name="img_captcha" placeholder="图形验证码">
                            </div>
                            <div class="input-group-addon">
                                <img src="{% url 'msybauth:img_captcha' %}" alt="" class="img_captcha" style="cursor: pointer">
                            </div>
                        </div>
                        <!-- <div class="input-group">
                            <div class="short-input-group">
                                <input type="text" class="form-control" name="sms_captcha" placeholder="短信验证码">
                            </div>
                            <div class="input-group-addon">
                                <span class="sms-captcha-btn">获取验证码</span>
                            </div>
                        </div>
                        -->
                        <div class="input-group"><input type="submit" class="submit-btn" value="立即注册"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>