{% extends 'base/front_base.html' %}


{% block title %}
    商品详情
{% endblock %}


{% block head %}
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_88ixgp6kyao.css">
    <link rel="stylesheet" href="{% static 'css/cloth_detail.min.css' %}">
{% endblock %}

{% block main %}
    <div class="main">
        <div class="main-wrapper">
            {% for cloth in clothes %}
                <div class="cloth-wrapper">
                    <div class="cloth-title">
                        {{ cloth.title }}
                    </div>
                    <div class="cloth-more">
                        <div class="shop-group">
                            <i class="iconfont icon-shop" style="color: coral"></i>
                            <p class="shop" style="margin-top: 5px;">{{ cloth.shop }}</p>
                        </div>
                        <div class="price-group">
                            <span class="price">￥{{ cloth.price }}</span>
                            <a href="{% url 'clothes:cloth_order' %}" class="buy-btn">立即购买</a>
                        </div>
                    </div>
                </div>
                <div class="cloth-info-group">
                    <div class="cloth-img">
                        <img src="{{ cloth.thumbnail }}" alt="">
                    </div>
                    <div class="cloth-info">
                        <div class="attributes-group">
                            <div class="commerical-group">
                        <span class="commerical">
                            {{ cloth.desc }}
                        </span>
                            </div>
                            <div class="attribute-title">
                                <span class="attribute">商品属性：</span>
                            </div>
                            <ul class="attributes-list">
                                <p>{{ cloth.content|safe }}</p>
                            </ul>
                            <div class="performance-pledge">
                                <span class="service">服务承诺</span>
                                <ul class="pledge-list">
                                    <li><a href="#">正品保证</a></li>
                                    <li><a href="#">极速退款</a></li>
                                    <li><a href="#">退货运费险</a></li>
                                    <li><a href="#">七天无理由退款</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <a href="#" class="fitting-room-btn">加入试衣间</a>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}