<!--
  * @Description: fitting_room.html.html
  * @Author: 孤烟逐云zjy
  * @Date: 2021/4/12 8:26
  * @SoftWare: PyCharm
  * @CSDN: https://blog.csdn.net/zjy123078_zjy
  * @博客园: https://www.cnblogs.com/guyan-2020/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蒂斯芙尼衣吧</title>
    <link rel="stylesheet" href="../../dist/css/fitting_room.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_2xqetz1l455.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2410003_pqmelmp3qd.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<header class="header">
    <div class="main-header">
        <div class="log-box">
            <i class="iconfont icon-mote-"></i>
            <a href="#" style="margin-right: 20px">蒂芙<strong>衣吧</strong></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="#" style="color: blue">首页新品</a></li>
            <li><a href="#" style="color: red">女装新宠</a></li>
            <li><a href="#" style="color: deeppink">潮流男装</a></li>
            <li><a href="#" style="color: blueviolet">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="iconfont icon-icon"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>

        </div>
    </div>
</header>
<div class="main">
</div>

</body>
</html>